<div *ngIf="!album">
  <p>Please wait loading ...</p>
</div>

{{ message }}

<div *ngIf="album">
  <div class="row">
    <div class="col">
      <app-album-card [album]="album"></app-album-card>
    </div>
    <div class="col">
      <h2>Tracks</h2>

      <audio
        [src]="track?.preview_url"
        [volume]="volume"
        #audioRef
        controls
        class="w-100 mb-2"
      ></audio>

      <div class="list-group">
        <div class="list-group-item" *ngFor="let track of album.tracks.items">
          {{ track.name }}

          <span class="float-right">
            <button class="btn btn-default" (click)="play(track)">Play</button>
          </span>
          <span class="float-right">
            {{ track.duration_ms | date: "HH:mm:ss":"UTC" }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
