<div class="row">
  <div class="col">
    <app-search-form
      [query]="query"
      (queryChange)="search($event)"></app-search-form>
    
  </div>
</div>
<div class="row">
  <div class="col">

    <div class="alert alert-danger" *ngIf="message">{{message}}</div>

    <app-search-results [results]="foundAlbums"></app-search-results>
  </div>
</div>
