

  <div class="container">
    
    <div class="row">
      <div class="col">
        <h1>{{title }}</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        
        <router-outlet></router-outlet>
        
      </div>
    </div>
    
  </div>