<div class="input-group mb-3">
  
  <input
    type="text"
    class="form-control"
    placeholder="Search albums"
    [formControl]="searchForm.get('query')"
  />

  <!-- <input
    type="text"
    class="form-control"
    placeholder="type"
    [formControl]="searchForm.get('type')"
  /> -->

  <div class="input-group-append">
    <button class="btn btn-outline-secondary" (click)="search()">
      Search
    </button>
  </div>
</div>
